@model dynamic
@{
    ViewData["Title"] = "Proceso de Creación de un Proyecto MVC";
}

<h2>@ViewData["Title"]</h2>
<p>El proceso de creación de un proyecto MVC en .NET Core sigue estos pasos clave:</p>
<ol>
    <li>
        <strong>Creación del proyecto:</strong>
        <p>El primer paso consiste en crear un nuevo proyecto MVC en .NET Core. Esto se puede hacer utilizando Visual Studio o la CLI de .NET. </p>
        <img src="~/images/CreacionProject.png" alt="Creación de proyecto" class="img-fluid mt-3" style="width: 50%;" />
        <p>En Visual Studio, selecciona "Crear nuevo proyecto", elige la plantilla "ASP.NET Core Web Application" y asegúrate de seleccionar "MVC" como tipo de aplicación.</p>
        <!-- Añadiendo una imagen para ilustrar el uso de la CLI -->
        <img src="~/images/MVC.png" alt="Creación de proyecto" class="img-fluid mt-3" style="width: 50%;" />

        <!-- Añadiendo una imagen para Visual Studio -->
        <p>A continuación se muestra una captura de la creación del proyecto en Visual Studio:</p>
        <img src="~/images/introduccion.png" alt="Creación de proyecto en Visual Studio" class="img-fluid mt-3" style="width: 50%;" />
    </li>

    <!-- Puedes seguir añadiendo imágenes en otros pasos de la misma manera -->
</ol>

